# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Model Files
*.pkl

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/